<ion-view view-title="{{data.title}}">
  <ion-content>
    <form novalidate name="searchForm">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Restaurant/Dinner Package</span>
        <ion-autocomplete placeholder="Enter the restaurant to search for ..." items-method="search(query)" item-value-key="id" item-view-value-key="name" ng-model="data.selected" required  items-clicked-method="clickedMethod(callback)" />
        <div class="error-container" ng-show="data.error">
          <small class="assertive">You must select a restaurant/dinner package</small>
        </div>
      </label>
      <label class="item item-input item-stacked-label" ng-if="data.secondary">
        <span class="input-label">Dinner Package Restaurant</span>
        <ion-autocomplete placeholder="Enter the restaurant to search for ..." items-method="search(query)" item-value-key="id" item-view-value-key="name" ng-model="data.secondary" items-clicked-method="data.clickedSecondary(callback)" />
        <div class="error-container" ng-show="data.error">
          <small class="assertive">You must select a restaurant</small>
        </div>
      </label>
      <!--
      <div class="list"  ng-if="data.restaurants">
        <li class="item" ng-repeat="restaurant in data.restaurants">{{restaurant.name}}</li>
      </div>
      -->
      <label class="item item-input item-stacked-label" ng-click="data.showDatePicker()">
        <span class="input-label">Date</span> <br />
        <label type="text" ng-model="data.day">{{data.day}}</label>
      </label>
      <label class="item item-input item-stacked-label" ng-click="data.showTimePicker()">
        <span class="input-label">Time</span> <br />
        <label type="text" ng-model="data.epochTime">{{data.time}}</label>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Number of Guests</span>
        <h-number value="data.partySize" min="1" max="50" step="1"></h-number>
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive" ng-click="onSubmit()">
          {{data.buttonName}} Search
        </button>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>
